# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Android
**/.gradle/
**/local.properties

# iOS/macOS
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/flutter_export_environment.sh
**/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml

# Node
**/node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db